<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>增删减小例子</title>
    <script src='http://cdn.jsdelivr.net/vue/1.0.26/vue.min.js'></script>
    <script src='node_modules/jQuery/tmp/jquery.js'></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="app">
      <table class="table tablebordered">
          <tr>
            <th>书名</th>
            <th>书价格</th>
            <th>数量</th>
            <th>小计</th>
            <th>操作</th>
          </tr>
          <tr v-for = 'item in books'>
            <th>{{item.name}}</th>
            <th>{{item.price}}</th>
            <th>
              <button type="button" @click = item.num-- > - </button>
              <input type="text" v-model='item.num'>
              <button type="button" @click = item.num++ > + </button>
            </th>
            <th>{{item.num*item.price}}</th>
            <th><button type="button" name="button btn-danger" @click="remove(item)">删除</button></th>
          </tr>
          <tr>
            <td colspan="5">总价 {{total}}</td>
          </tr>
      </table>
      <div class="form-group">
        <label for="bookname" class="control-label">书名</label>
        <input id="bookname" type="text" v-model="list.name" class="form-control">
      </div>
      <div class="form-group">
        <label for="bookprice" class="control-label">书价</label>
        <input id="bookprice" type="text" v-model="list.price" class="form-control">
      </div>
      <div class="form-group">
        <label for="booknum" class="control-label">数量</label>
        <input id="booknum" type="text" v-model="list.num" class="form-control">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" @click='add'>添加</button>
      </div>
    </div>


    <script>
      var app = new Vue({
        el:'.app',
        data:{
            books:[
              {name:'vuejs',price:'40',num:'1'},
              {name:'jqueryjs',price:'20',num:'2'},
              {name:'reactjs',price:'10',num:'4'},
            ],
            list:{
              name : '',
              price : '',
              num : ''
            }
        },
        methods:{
          remove(item){
            this.books.$remove(item);
          },
          add(){
            this.books.push(this.list);
            this.list = {
              name : '',
              price : '',
              num : ''
            }
          }
        },
        computed:{
          total(){
            var su = 0;
            this.books.forEach(function(it){
              su += it.price*it.num
            })
            return su;
          }
        }
      })
    </script>


  </body>
</html>
