<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>filter</title>
    <script src='http://cdn.jsdelivr.net/vue/1.0.26/vue.min.js'></script>
  </head>
  <body>
    <div class="box">
        {{'hello'}}<br/>
        {{'hello word' | capitalize}} <br/> <!-- 首字母大写 -->
        {{'hello word' | uppercase}} <br/><!-- 转换成大写 -->
        {{'HELLO WORD' | lowercase}} <br/><!-- 转换成小写 -->
        {{122.2222222 | currency '英镑' 3}} <br/><!-- 货币过滤器 -->
        {{'hello word' | uppercase}} <br/> <!-- 转换成大写 -->
        {{ 1 | pluralize 'aaa'}} <br/>  <!-- aaa -->
        {{ 6 | pluralize 'a1' 'a2' 'a3' 'a4' 'a5' 'a6'}}<br/>  <!-- a6 -->
        <!-- 如果没找到都会显示最后一个 -->
        {{ 9 | pluralize 'a1' 'a2' 'a3' 'a4' 'a5' 'a6'}}<br/>  <!-- a6 -->

        <pre>{{mess | json}}</pre> <br/> <!-- json过滤器 -->
        <!-- 延迟事件触发 -->
        <input type="text" name="" value="" @keyup = "aa | debounce 1000"><br/>


        <button type="button" @click = "con+=2">下一页</button>
        <!-- <div v-for="a in arr | limitBy 2 1">  从第一个开始  显示两个 -->
        <div v-for="a in arr | limitBy 2 con">  <!-- 简单的翻页 -->
          {{a.name}}
        </div>

        <br/><br/><br/><br/><br/><br/>
        <!-- <div v-for="b in arr1 | filterBy 'niu1'">
          {{b.name}}  默认从全局筛选
        </div> -->
        <div v-for="b in arr1 | filterBy 'niu_a' in 'name'">
          {{b.name}}  <!--默认从全部中筛选{{name:'niu_a'}} 节省性能 -->
        </div>


        <br/><br/><br/><br/><br/><br/>
        <!-- <div v-for="c in arr | orderBy 'name' -1">
            {{c.name}}  倒序排序
        </div> -->
        <button type="button" name="button" @click="sor*=-1">排序</button>
        <div v-for="c in arr | orderBy 'name' sor">
          {{c.name}}
        </div>

    </div>



    <script>
      var app = new Vue({
        el:'.box',
        data:{
          mess:{
            name: "niu",
            age:'28'
          },
          sor:1,
          arr:[
            {name:'niu1'},
            {name:'niu2'},
            {name:'niu3'},
            {name:'niu4'},
            {name:'niu5'},
            {name:'niu6'},
            {name:'niu7'},
            {name:'niu8'},
            {name:'niu9'},
            {name:'niu10'},
          ],
          con : 0,
          arr1:[
            {name:'niu_a',age:'12'},
            {name:'niu_b'},
            {name:'niu_c',age:'13'},
            {name:'niu_d'},
            {name:'niu_d'},
          ]
        },
        methods:{
          aa(){
            alert("一秒后弹出");
          }
        }
      })

    </script>
  </body>
</html>
