<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>form</title>
	<script src='http://cdn.jsdelivr.net/vue/1.0.26/vue.min.js'></script>
</head>

<body>
	<div id="box">
		<select v-model = "sel" multiple >
			<option value="1">一</option>
			<option value="2">二</option>
			<option value="3">三</option>
		</select>
		{{sel}}



		<select v-model="name">
		  <!--绑定value 到 Vue 实例的一个动态属性-->
		  <option v-for="a in ary" :value="a.value">{{a.name}}</option>
		</select>

	</div>
	<script>
		var app = new Vue({
			el : '#box',
			data : {
				ary:[
					{name:'niu1',age:1},
					{name:'niu2',age:2},
					{name:'niu3',age:3}
				]
			}
		})
	</script>
</body>
</html>